	.table_title{
		margin:25px 0;
	}
	.table_title>span{
		padding-left: 10px;
		border-left: 3px solid #409EFF
	}
	.table_body{
		margin:20px 0 40px 0;
	}
	.page{
		text-align: center;
	}
  .el-form-item>label{
   text-align: left;
  }
  .search_box{
    margin-top:25px;
  }
  .tab_box{
    margin-top: 25px
  }
  .dialog{
    width: 600px;
  }
  .meeting_form .el-input{
    width: 60%
  }
  .meeting_form label{
    width: 20%;
    text-align: right;
  }
  .data_card{
    margin-top: 25px
  }
  .data_card .el-col{
    text-align: center;
  }
  .data_card p {
    cursor: pointer;

  }
  .el-form-item__error{
    left: 20%!important
  }
  .meeting_form .el-select{
    width: 60%;
  }
  .el-select .el-input--suffix{
    width: 100%
  }
  .el-select-dropdown.el-popper.is-multiple{
    top:41%!important;
  }
  .meetName{
    text-decoration: underline;
    cursor: pointer;
    color: #409EFF
  }
  .sigList{
    	padding-left: 0;
    }
	.sigList li{
		list-style: none
	}
	.sigList li>span{
		display: inline-block;
	}
	.middle{
		width: 50%;
    margin: 0 auto;
	}
	.sign_box{
		padding:25px;
		height: 80vh;
		border-radius: 15px;
		border:1px solid;
		overflow-y: scroll;
	}
	.data_col{
		padding: 30px
	}
	.data_col p{
		text-align: center;
	} 
	.data_col div{
		text-align: center;
		padding: 30px
	}